<div class="main">
  <div class="sidebar">

    <div class="slack-name">
      <h2>FireSlack</h2>
    </div>

    <div class="channel-list">
      <div class="list-head">Channels</div>
      <div class="channel" ng-repeat="channel in c.channels">
        <a ui-sref="app.channels.messages({channelId: channel.$id})" ui-sref-active="selected"># {{ channel.name }}</a>
      </div>
    
      <div class="channel create">
        <a ui-sref="app.channels.create">+ create channel</a>
      </div>
      
      <div class="list-head">Direct Messages</div>
      <div class="channel" ng-repeat="user in c.users">
        <a ng-if="user.$id !== c.profile.$id" ui-sref="app.channels.private({uid: user.$id})" ui-sref-active="selected">
          {{ user.displayName }}
        </a>
      </div>
    </div>


    <div class="my-info">
      <img class="user-pic" ng-src="{{ c.getGravatar(c.profile.$id) }}" />
      <div class="user-info">
        <div class="user-name">
          {{ c.profile.displayName }}
        </div>

        <div class="options">
          <a ui-sref="app.profile">edit profile</a>
          /
          <a href="#" ng-click="c.logout()">logout</a>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="message-pane">
    <ui-view></ui-view>
  </div>
</div>
